@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        <p>
            Welcome back, @context.User.Identity?.Name, you are logged in!
        </p>
    </Authorized>
    <NotAuthorized>
        <AuthenticationComponent/>
    </NotAuthorized>
</AuthorizeView>
