@page "/reset-password-management"
@attribute [Authorize(Roles = "OrganizationAdmin,EnterpriseAdmin")]

<PageTitle>Reset Password Management</PageTitle>

<div class="container-fluid mt-4">
    <ResetPasswordManagementComponent />
</div>