@page "/task-edit"
@attribute [Authorize(Roles = "OrganizationAdmin,EnterpriseAdmin,DepartmentAdmin")]
<PageTitle>Edit task</PageTitle>

<div class="container-fluid mt-4">
<h3>Edit task</h3>
<TaskListComponent />
</div>