@page "/usermanager"
@attribute [Authorize(Roles = "OrganizationAdmin,EnterpriseAdmin")]

<PageTitle>User Manager</PageTitle>

<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-header">
            <span class="card-title fs-6 d-block d-md-none fw-bold">User Manager</span>
            <span class="card-title fs-4 d-none d-md-block fw-bold">User Manager</span>
        </div>
        <div class="card-body">
            <p class="card-text">
                This page allows organization and enterprise administrators to manage users within their respective scopes. 
                You can select a user from the dropdown list to view and edit their details, including their roles, department assignments, and organizational affiliations. 
                The user information is displayed in an editable form, and any changes can be saved to update the user's profile. 
                This tool is essential for maintaining accurate user records and ensuring that users have the appropriate access and permissions within the organization.
            </p>
            <label for="userDropdown" class="form-label fs-6 d-block d-md-none fw-bold">Select User</label>
            <label for="userDropdown" class="form-label fs-4 d-none d-md-block fw-bold">Select User</label>
            <InlineAutocompleteDropdown TItem="UserModel"
                                        Id="userDropdown"
                                        Items="_users"
                                        ItemTextSelector="GetUserDisplayText"
                                        Value="@_userSearchText"
                                        ValueChanged="OnUserSearchChanged"
                                        OnItemSelected="OnUserSelectedFromTypeAhead"
                                        Placeholder="Type user name or email..." 
                                        MaxSuggestions="100"/>
        </div>
    </div>
    <UserComponent User="selectedUser" />
</div>