@page "/usermanager"
@attribute [Authorize(Roles = "OrganizationAdmin,EnterpriseAdmin")]

<title>User Manager</title>

<div class="container mt-4">
    <div class="mb-3">
        <label for="userDropdown" class="form-label">Select User</label>
        <InputSelect Value="selectedUserId" ValueChanged="((string value) => SelectedUserChangedAsync(value))" ValueExpression="() => selectedUserId" class="form-select form-select-sm" >
                <option selected value="">Select  a user</option>
                @if (_users != null)
            {
                @foreach (var user in _users)
                {
                    <option value="@user.Id">@user.UserName (@user.Email)</option>
                }
            }
        </InputSelect>
    </div>
    <UserComponent User="selectedUser" />
</div>