@if (StaticUserInfoBlazor.SelectedDepartment != null)
{
    <h4>Tasks for department: @StaticUserInfoBlazor.SelectedDepartment.Department?.Name</h4>
}
<FormResultComponent Result="_taskResult" />

@if (_tasks.Any())
{
    @foreach (var task in _tasks)
    {
        <DepartmentTaskComponent @ref="_taskComponents[task.Id]" ChildContent="task" InitDisplayDetails="false" OnTaskDeletedEvent="RemoveTaskFromList" UsersWithAccess="UsersWithAccess" />
    }
}