
@if(StaticUserInfoBlazor.SelectedDepartment != null)
{
    <h4>Tasks for department: @StaticUserInfoBlazor.SelectedDepartment.Department?.Name</h4>
}
<FormResultComponent Result="_taskResult" />

@if (_tasks.Any())
{
    <ul>
        @foreach (var task in _tasks)
        {
            
        }
    </ul>
}