@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_user?.Identity != null && _user.Identity.IsAuthenticated)
{
    <p>Hello, @_user.Identity.Name!</p>
}
else
{
    <p>Not authenticated</p>
}
