
@if (User != null) {
    <div class="container">
        <EditForm Model="User" OnValidSubmit="HandleSubmitUser">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
            
            <div class="row rounded rounded-1 p-2 border border-1 border-secondary">
                <div class="col-12 col-md-3">
                    <strong>User:</strong>
                </div>
                <div class="col-12 col-md-9">
                    <InputText @bind-Value="User.UserName" class="form-control" />
                    <ValidationMessage For="@(() => User.UserName)" />
                </div>
            </div>
            <div class="row rounded rounded-1 my-1 p-2 border border-1 border-secondary">
                <div class="col-12 col-md-3">
                    <strong>Email:</strong>
                </div>
                <div class="col-12 col-md-9">
                    @User.Email
                </div>
            </div>
            <div class="row rounded rounded-1 my-1 p-2 border border-1 border-secondary">
                <div class="col-12 col-md-3">
                    <strong>Member number:</strong>
                </div>
                <div class="col-12 col-md-9">
                    <InputText @bind-Value="User.MemberNumber" class="form-control" />
                    <ValidationMessage For="@(() => User.MemberNumber)" />
                </div>
            </div>
            <FormResultComponent Result="_formResult" />
            <div class="row rounded rounded-1 my-1 p-2">
                <div class="col-12 col-md-2 offset-md-8">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-12 col-md-2">
                    <button type="button" class="btn btn-danger" @onclick="HandleDeleteUserAsync">Delete User</button>
                </div>
            </div>
        </EditForm>
        @if (User.AppUserOrganizations != null && User.AppUserOrganizations.Any())
        {
            @foreach (var userOrganization in User.AppUserOrganizations)
            {
                <OrganizationComponent @ref="_userOrganizationsDict[userOrganization.Id]" AppUserOrganization="userOrganization" AppUserDepartments="User.AppUserDepartments?.Where(d => d.Department!.OrganizationId == userOrganization.OrganizationId).ToList()" />
            }
        }
    </div>
}

