@if (Result != null)
    {
        @if (Result.Succeeded)
        {
            <div class="@FadeCssClass">
                <div class="alert alert-success" role="alert">
                    @foreach (var msg in Result.ErrorList)
                    {
                        <div>@msg</div>
                    }
                </div>
            </div>
        }
        else
        {
        <div class="@FadeCssClass">
            <div class="alert alert-danger" role="alert">
                @foreach (var error in Result.ErrorList)
                {
                    <div>@error</div>
                }
            </div>
        </div>
        }
    }