<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@StaticUserInfoBlazor.SelectedDepartment?.Department?.Name</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home nav-spacer" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="EnterpriseAdmin,OrganizationAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usermanager">
                        <span class="oi oi-person nav-spacer"></span>Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reset-password">
                        <span class="oi oi-person nav-spacer"></span>Reset Password
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register-user">
                        <span class="oi oi-person nav-spacer"></span>Register User
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
